{{#if error}}
    <p>{{error}}</p>
{{/if}}
<p>Please select your choice for login <button id="btn" onclick='var x= document.getElementById("btn");
                                                                        if (x.innerHTML === "Wanna Sign Up") {
                                                                            document.getElementById("display1").style.display = "none";
                                                                            document.getElementById("display2").style.display = "block";
                                                                            x.innerHTML = "Wanna Sign In";
                                                                        } else {
                                                                            document.getElementById("display1").style.display = "block";
                                                                            document.getElementById("display2").style.display = "none";
                                                                            x.innerHTML = "Wanna Sign Up";
                                                                        }'>Wanna Sign Up</button></p>
<div id="display1" style="display:block">
    <form method="post" action="/step2">
        <select name="one" onchange="if (this.value=='email') {
                                        this.form['phone'].style.display='none'
                                        this.form['submit1'].style.display='none';
                                        this.form['email'].style.display='block'
                                        this.form['password'].style.display='block'
                                        this.form['submit2'].style.display='block';
                                    }
                                    else {
                                        this.form['phone'].style.display='block';
                                        this.form['submit1'].style.display='block';
                                        this.form['email'].style.display='none'; 
                                        this.form['password'].style.display='none';
                                        this.form['submit2'].style.display='none';
                                    };">
            <option value="" selected="selected">Select...</option>
            <option value="phone">Mobile Connect</option>
            <option value="email">Email Login</option>
        </select>
        <br><br>
        <input type="tel" name="phone" placeholder="Phone here" style="display:none;"/>
        <br>
        <input type="submit" name="submit1" value="Send code" style="display:none;"/>
        <input type="textbox" name="email" placeholder="Post a mail" style="display:none;"/>
        <br>
        <input type="password" name="password" placeholder="Secret code" style="display:none;"/>
        <br>
        <input type="submit" name="submit2" value="Login" style="display:none;"/>
    </form>
</div>
<div id="display2"  style="display:none">
    <form method="post" action="/step5">
        <input type="textbox" name="subemailid" placeholder="Post a mail"/>
        <input type="password" name="subpassword" placeholder="Secret"/>        
        <input type="tel" name="subphonenumber" placeholder="Phone here"/>
        <input type="submit" name="submit" value="Sign Up"/>
    </form>
</div>